<html th:replace="~{Admin/Adminbase::layout(~{::main})}">

<body>
	<main>
		<div class="row">
			<div class="col-sm-6 mx-auto">
				<div class="card my-3">
					<div class="card-header p-0 bg-primary">
						<h4 class="text-center  fw-bold text-white"> Change Your Password</h4>

					</div>
					<div class="card-body">
						<form method="post">
							<div class="row">
								<div class="col-sm-12 mt-3">
									<label class="fw-bold">Enter Old Password</label>
									<input name="oldPassword" type="password" class="form-control"
										placeholder="Old Password" required>
								</div>

								<div class="col-sm-12 mt-3">
									<label class="fw-bold">Enter New Password</label>
									<input name="newPassword" type="password" class="form-control"
										placeholder="New Password" required>
								</div>

								<div class="col-sm-12 mt-3">
									<label class="fw-bold">Enter Confirm Password</label>
									<input name="confirmPassword" type="password" class="form-control"
										placeholder="Confirm Password" required>
								</div>
								
								<div class="col-sm-12 my-3 text-center">
									<button type="submit" class="btn btn-primary"> Change Password</button>
								</div>

							</div>

						</form>
					</div>
					
				</div>
			</div>
		</div>
	</main>
</body>

</html>