<html th:replace ="~{Admin/Adminbase::layout(~{::main})}">
	<body>
		<main>
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header bg-primary text-white p-0">
							<h3 class="fw-bold text-center">Manage Patient</h3>
							
						</div>
						
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="example">
									<thead>
										<tr>
											<th>Sr. No</th>
											<th>Profile Pic</th>
											<th>Patient Name</th>
											<th>Age</th>
											<th>Gender</th>
											<th>Email</th>
											<th>Contact No</th>
											<th>Aadhar No</th>
											<th>Address</th>
											<th> Reg. Date</th>
											<th>Status</th>
											<th>Action</th>
											
										</tr>
										
									</thead>
									<tbody th:each="p, srno: ${patientList}">
										<tr>
											<td class="text-center" th:text="${srno.index+1}">#1</td>
											<td>@</td>
											<td th:text="${p.name}">ABCD</td>
											<td th:text="${p.age}">00</td>
											<td th:text="${p.gender}">abc</td>
											<td th:text="${p.email}">example@gmail.com</td>
											<td th:text="${p.contactNumber}">1234xxxx78</td>
											<td th:text="${p.aadharNumber}">99xxxxxxxx80</td>
											<td th:text="${p.address}">Unknow Address</td>
											<td th:text="${p.regDate}">DD/MM/YYYY</td>
											<td class="text-center">
												<a th:href="@{PatientStatus(id=${p.id})}" th:if="${p.status.name()=='PENDING'}" class="btn btn-warning btn-sm " th:text="${p.status}"></a>
												<a th:href="@{PatientStatus(id=${p.id})}" th:if="${p.status.name()=='APPROVED'}" class="btn btn-success btn-sm " th:text="${p.status}"></a>
												<a th:href="@{PatientStatus(id=${p.id})}" th:if="${p.status.name()=='DISABLED'}" class="btn btn-danger btn-sm " th:text="${p.status}"></a>
											</td>
											<td>
												<a href="#" class="btn btn-success btn-sm">Edit</a>
												<a th:href="@{DeletePatient(id=${p.id})}" onclick=" return confirm('Are you sure want to delete?')" class="btn btn-danger btn-sm">Delete</a>
											</td>
											
											
										</tr>
									</tbody>
								</table>
							</div>
							
							
						</div>
						
					</div>
				</div>
			</div>
		</main>
	</body>
</html>