<html th:replace="~{Doctor/Doctorbase::layout(~{::main})}">

<body style="background: linear-gradient(135deg, #e0f7fa, #ffffff); min-height: 100vh;">
	<main>
		<div class="row justify-content-center">
			<div class="col-sm-8 col-md-6 col-lg-5">
				<div class="card shadow-lg my-4 border-0 rounded-4 bg-light">
					
					<div class="card-header bg-primary text-white text-center rounded-top-4">
						<h4 class="fw-bold m-2">Change Your Password</h4>
					</div>

					<div class="card-body p-4">
						<form method="post">
							<div class="row">
								<div class="col-sm-12 mt-3">
									<label class="fw-bold ">Enter Old Password</label>
									<input name="oldPassword" type="password" class="form-control border-primary shadow-sm"
										placeholder="Enter Old Password" required>
								</div>

								<div class="col-sm-12 mt-3">
									<label class="fw-bold">Enter New Password</label>
									<input name="newPassword" type="password" class="form-control border-primary shadow-sm"
										placeholder="Enter New Password" required>
								</div>

								<div class="col-sm-12 mt-3">
									<label class="fw-bold">Enter a Confirm Password</label>
									<input name="confirmPassword" type="password" class="form-control border-primary shadow-sm"
										placeholder="Enter Confirm Password" required>
								</div>

								<div class="col-sm-12 text-center mt-4">
									<button type="submit" class="btn btn-primary text-white fw-bold px-4 fw-semibold shadow-sm">
										Change Password
									</button>
								</div>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
	</main>
</body>

</html>
