<htmlhtml th:replace="~{base::layout(~{::main})}">

	<body>
		<main>
			<!-- Services section start-->
			<div class="row" style="background-image:url('images/BackPGI.jpg') ; background-size:cover; background-position:center;">
				<div class="col-sm-12 py-5 bg-dark bg-opacity-50 ">
					<h1 class="py-3 text-center text-white fw-bold dispaly-4"> Services of PGI Virtual Care</h1>

				</div>
			</div>


			<div class="row px-3">
				<div class="row text-center fw-bold pt-5">
					<div>
						<h3 class="text-info fs-3 fw-bold d-inline-block"
							style="border-bottom: 3px solid rgb(34,35,83);">
							Services
						</h3>
						<h2 class="pt-1">Excellent Medical Services</h2>
					</div>
				</div>

				<div class="row pt-2">
					<div class="col-sm-11 mx-auto">
						<!--================ first card row start=================-->
						<div class="row g-4">
							<div class="col-sm-4">
								<div class="card text-center shadow custom-card">
									<div class="pt-5">
										<i class="fa-solid fa-user-doctor text-info fs-1"></i>
									</div>
									<div class="card-body">
										<h5 class="card-title text-dark fw-bold">Virtual Consultation</h5>
										<p class="card-text">Connect with specialists online through our secure
											telemedicine
											platform, ensuring expert care from anywhere.</p>
									</div>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="card text-center shadow custom-card">
									<div class="pt-5">
										<i class="fa-solid fa-prescription-bottle-medical text-success fs-1"></i>
									</div>
									<div class="card-body">
										<h5 class="card-title text-dark fw-bold">E-Prescription</h5>
										<p class="card-text">Doctors can issue digital prescription that patient can
											download or
											print anytime.</p>
									</div>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="card text-center shadow custom-card">
									<div class="pt-5">
										<i class="fa-solid fa-calendar-check text-warning fs-1"></i>
									</div>
									<div class="card-body">
										<h5 class="card-title text-dark fw-bold">Appointment Booking</h5>
										<p class="card-text">Schedule appointment with specialist quickly through
											our
											user-friendly
											interface.</p>
									</div>
								</div>
							</div>
						</div>

						<!-- ==================second card row is start=========-->
						<div class="row pt-5 g-4">
							<div class="col-sm-4">
								<div class="card text-center shadow custom-card">
									<div class="pt-5">
										<i class="fas fa-file-medical text-info fs-1"></i>
									</div>
									<div class="card-body">
										<h5 class="card-title text-dark fw-bold">Medical Report Management</h5>
										<p class="card-text">Upload, view and manage your medical history and lab
											report
											safely and
											securely.</p>
									</div>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="card text-center shadow custom-card">
									<div class="pt-5">
										<i class="fa-solid fa-user-shield text-primary fs-1"></i>
									</div>
									<div class="card-body">
										<h5 class="card-title text-dark fw-bold">Secure Communication</h5>
										<p class="card-text">All patient-doctor communication are encrypted to
											ensure
											maximum
											privacy and security.</p>
									</div>
								</div>
							</div>

							<div class="col-sm-4">
								<div class="card text-center shadow custom-card">
									<div class="pt-5">
										<i class="fa-solid fa-headset text-danger fs-1"></i>
									</div>
									<div class="card-body">
										<h5 class="card-title text-dark fw-bold">24x7 Support</h5>
										<p class="card-text">Need help? Our team is available round the clock to
											assist you
											with any
											queries or emergencies.</p>
									</div>
								</div>
							</div>
							<!--card end -->

						</div>
					</div>

				</div>
			</div>
			<!--=====================Services section end =========-->

		</main>
	</body>

	</html>